<a id="app-section"></a>
{{#with app-section}}
  <section class="section">
    <div class="container">
      {{!-- <header class="section__header">

      </header> --}}
      <div class="row">

        <div class="col-lg-12 col-xl-7 mt-5">
          <h2 class="section__title">
            {{title}}
          </h2>
          <p>{{parragraph}}</p>
          <a
            href="https://solar.indexfix.com/"
            class="btn btn-lg btn-primary my-3 btn-index-submit js-form-submit"
          >
            {{button-text}}
          </a>
        </div>
        <picture class="col-lg-12 col-xl-5 mb-3 mb-xl-0">
          <source
            class="index-card__image index-card__image--cover"
            srcset="assets/images/galaxy-s22-ultra@2x.png"
            media="(min-width: 768px)"
          />
          <img
            alt="{{image-alt}}"
            class="index-card__image index-card__image--cover"
            src="assets/images/galaxy-s22-ultra.png"
          />
        </picture>

      </div>
    </div>
  </section>
{{/with}}